/* top header */
.w3l-top-header {
    background: $primary-color;
    padding: 14px 15px;
  }
  
  .w3l-top-header .top-headers li a,
  .w3l-top-header .top-headers li {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  
  .w3l-top-header .top-headers li a:hover {
    color: $secondary-color;
  }
  
  .w3l-top-header .top-headers li i {
    margin-right: 8px;
  }
  
  .w3l-top-header .top-headers li {
    display: inline-block;
    margin-right: 2em;
  }
  
  @media only screen and (max-width: 780px) {
    .w3l-top-header .top-headers li {
      margin-right: 1em;
    }
  }
  
  @media only screen and (max-width: 680px) {
    .top-content-w3ls {
      display: block !important;
    }
  
    .top-headers-2 {
      margin-top: 4px;
    }
  
    .top-headers {
      text-align: center;
    }
  
    .w3l-top-header {
      padding: 14px 0px;
    }
  }
  
  @media only screen and (max-width:390px) {
    .w3l-top-header .top-headers li {
      margin-right: .5em;
    }
  }
  
  @media only screen and (max-width:380px) {
    .cont-ser-position {
      top: 17px;
    }
  
    .w3l-top-header .top-headers li i {
      margin-right: 4px;
    }
  }
  
  /* //top header */



  /* header */

  /* //header  */