//header

.header{
  width: 100%;
  background-color: $header-bg;
  height: $header-height;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease;
.logo-title {
  color: #f02d00;
    font-size: 14px;
    font-weight: 700;
}

.nav-item {
  
  .item-nav {

  }
}

  &.hide {
    background-color: $header-bg;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .signin,
  .signup {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: $txt-color;
    font-weight: 600;
    cursor: pointer;
  }

  .signin:hover {
    color: $main-color;
  }

  .signup {
    background-color: $main-color;

    &:hover {
      opacity: 0.7;
    }
  }
}



.showing {
  padding: 30px 14px;

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .main {
    .course-list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .sub-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-btn {
    text-align: center;
    margin-top: 20px;

    button {
      border-radius: 10px;
      padding: 8px 12px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
